*{margin:0;padding:0}
.dateDiv{width:210px;overflow:hidden;border:1px solid #f1f1f1; position:absolute; background:#fff; padding:10px;}
.dateDiv .name{height:30px; line-height:30px;}
.dateDiv .name li{height:30px;  line-height:30px; width:100%; text-align:center; color:blue;list-style:none; position:relative;}
.dateDiv .name li .a1{ position:absolute;top:0;left:0;}
.dateDiv .name li .a2{ position:absolute;top:0;right:0;}
.dateDiv .week{height:30px; line-height:20px;border-bottom:1px solid #f1f1f1;}
.dateDiv .week li{ float:left;width:30px;height:30px; text-align:center; list-style:none;}
.dateDiv .dateUl{ overflow:hidden; clear:both; padding: 5px 0;}
.dateDiv .dateUl li{float:left;width:30px;height:30px; text-align:center; line-height:30px;list-style:none;}
.dateDiv .dateUl li.ccc{ color:#ccc;}
.dateDiv .dateUl li.red{ background:#F90; border-radius: 50%;}
.dateDiv .dateUl li.sun{ color:#f00;}
