.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed !important;
}
.snh1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body {
  background: #fcfcfc;
  color: #222;
}
.autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.boxcenter {
  width: 1100px;
  margin: 0 auto;
}
.bgwrite {
  background: #ffffff;
}
a {
  color: #4f5157;
  transition: all 0.3s ease-in;
}
a:hover {
  color: #f46;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.combtn {
  padding: 8px 20px;
  color: #ffffff;
  background: #f46;
  cursor: pointer;
}
.combtn:active {
  box-shadow: 0 1px 5px #f46;
}
#nav-warp {
  height: 60px;
  position: relative;
  background: #ffffff;
}
#nav-warp .nav-wrap-box {
  height: 60px;
  width: 1100px;
  margin: 0 auto;
}
#nav-warp .site-nav {
  line-height: 60px;
  font-size: 0;
}
#nav-warp .site-nav a {
  font-size: 16px;
  padding: 6px 20px;
  transition: all 0.3s ease-in;
  color: #222;
}
#nav-warp .site-nav a:hover {
  color: #ffffff;
  background: #f46;
}
#nav-warp .site-nav a.active {
  color: #ffffff;
  background: #f46;
}
#nav-warp .login-wrap {
  line-height: 60px;
}
#nav-warp .login-wrap a {
  margin: 10px;
  color: #222;
}
#nav-warp .login-wrap .reg {
  color: #ffffff;
  padding: 4px 15px;
  background: #f46;
}
#nav-warp .login-end {
  line-height: 60px;
}
#nav-warp .login-end img {
  width: 36px;
  height: 36px;
  border-radius: 18px 18px 18px 18px;
  vertical-align: middle;
}
#nav-warp .login-end span {
  margin-left: 5px;
  color: #222;
}
.site-search {
  margin-left: 20px;
  padding-top: 5px;
  position: relative;
}
.site-search input {
  height: 24px;
  width: 230px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.site-search a {
  display: block;
  width: 32px;
  height: 28px;
  background: #ccc;
  position: absolute;
  top: 5px;
  right: 0;
  background: url(../images/search.png) center center no-repeat;
  background-size: 70%;
}
.rotate720 {
  transition: 3s;
}
.rotate720:hover {
  transform: rotate(720deg);
}
.nodata {
  display: block;
  text-align: center;
  padding: 50px 0;
}
.satin-line-handle {
  height: 32px;
  line-height: 32px;
  margin-top: 10px;
  position: relative;
}
.satin-line-handle span {
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  color: #bfbfbf;
  cursor: pointer;
}
.satin-line-handle span.comment-btn a {
  color: #bfbfbf;
}
.satin-line-handle span:hover .zan {
  animation: zan 1s;
}
.satin-line-handle span:hover .cai {
  animation: cai 1s;
}
.satin-line-handle span:hover .shoucang {
  animation: shoucang 1s;
}
.satin-line-handle span i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -3px;
  vertical-align: middle;
  transition: all 0.5s ease-in;
}
.satin-line-handle span i.zan {
  background: url(../images/zan.png) no-repeat left center;
  background-size: contain;
}
.satin-line-handle span i.zan-active {
  background: url(../images/zan-active.png) no-repeat left center;
  background-size: contain;
}
.satin-line-handle span i.cai {
  background: url(../images/cai.png) no-repeat left center;
  background-size: contain;
}
.satin-line-handle span i.cai-active {
  background: url(../images/cai-active.png) no-repeat left center;
  background-size: contain;
}
.satin-line-handle span i.shoucang {
  background: url(../images/shoucang.png) no-repeat left center;
  background-size: contain;
}
.satin-line-handle span i.comment {
  background: url(../images/comment.png) no-repeat left center;
  background-size: contain;
}
#homeNav {
  background: #ffffff;
  width: 100%;
}
#homeNav .homeNav-head {
  padding: 0 0.1rem;
  font-size: 0;
  height: 0.3rem;
  margin: 0.1rem 0 0 0;
  border-bottom: 1px solid #f46;
}
#homeNav .homeNav-head a {
  display: inline-block;
  line-height: 0.3rem;
  font-size: 0.14rem;
  padding: 0 0.12rem;
}
#homeNav .homeNav-head a.active {
  background: #f46;
  color: #ffffff;
}
#homeNav .homeNav-wrap .line-tab {
  padding: 0.2rem 0.1rem;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line {
  margin-bottom: 0.1rem;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line .wanan-tab-pic {
  width: 0.9rem;
  height: 0.6rem;
  margin-right: 0.1rem;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line .wanan-tab-pic img {
  display: block;
  width: 0.9rem;
  height: 0.6rem;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line .wanan-tab-info {
  width: 2rem;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line .wanan-tab-info h2 {
  font-size: 0.18rem;
  font-weight: normal;
  line-height: 0.22rem;
  height: 46px;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line .wanan-tab-info .tag-wrap {
  font-size: 0.12rem;
  height: 14px;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line .wanan-tab-info .tag-wrap span {
  color: #bfbfbf;
}
#homeNav .homeNav-wrap .line-tab .wanan-tab-line .wanan-tab-info .tag-wrap a {
  color: #4f5157;
  margin-right: 0.08rem;
}
.more {
  text-align: center;
  line-height: 40px;
}
header {
  position: relative;
}
header .menuIcon {
  width: 0.26rem;
  height: 0.26rem;
  position: absolute;
  left: 0.09rem;
  top: 0.09rem;
  background: #4f5157;
  background: url('../images/menu.png') no-repeat center center;
  background-size: contain;
}
.duanzi-tab-line {
  margin-bottom: 0.1rem;
  border: 1px solid #f1f1f1;
  padding: 0.1rem;
}
.duanzi-tab-line .plptime {
  color: #bfbfbf;
  font-size: 0.12rem;
}
.duanzi-tab-line .plptime i {
  padding-left: 0.18rem;
  background: url('../images/time.png') no-repeat left center;
  background-size: contain;
}
.duanzi-tab-line .duanzi-tab-pic {
  height: 0.4rem;
  width: 100%;
  line-height: 0.4rem;
  margin-bottom: 0.1rem;
}
.duanzi-tab-line .duanzi-tab-pic a {
  display: block;
}
.duanzi-tab-line .duanzi-tab-pic img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  float: left;
}
.duanzi-tab-line .duanzi-tab-pic span {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.4rem;
  float: left;
  margin: 0rem 0 0 0.1rem;
}
.duanzi-tab-info {
  line-height: 24px;
}
#article {
  background: #ffffff;
}
#article .articlecontent p {
  font-size: 0.14rem;
}
.sider {
  width: 100%;
  height: 5.5rem;
  position: fixed !important;
  left: -500px;
  top: 0;
}
.sider .sider-wrap {
  width: 2.1rem;
  background: #333333;
  height: 100%;
}
.sider .sider-wrap .logo-wrap {
  width: 2.1rem;
  height: 1.2rem;
  padding-top: 0.3rem;
  text-align: center;
}
.sider .sider-wrap .logo-wrap img {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.45rem 0.45rem 0.45rem 0.45rem;
}
.sider .sider-wrap .nav-wrap ul li {
  line-height: 0.4rem;
  border-bottom: 1px solid #222222;
}
.sider .sider-wrap .nav-wrap ul li a {
  padding-left: 0.2rem;
  color: #ffffff;
  display: block;
  position: relative;
}
.sider .sider-wrap .nav-wrap ul li a i {
  position: absolute;
  top: 0.14rem;
  right: 0.1rem;
  background: url('../images/right.png') no-repeat center center;
  background-size: contain;
  width: 0.12rem;
  height: 0.12rem;
  display: block;
}
.sider .sider-mark {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.closeSider {
  animation: close 10s;
}
.openSider {
  animation: open 10s;
}
@keyframes close {
  0% {
    left: 0px;
  }
  50% {
    left: -500px;
  }
  100% {
    left: -500px;
  }
}
@keyframes open {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}
